<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 col-sm-12">
      <h1>Agenda Generator</h1>
      <p>Start editing to see some magic happen :)</p>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 col-sm-12">
      <!-- TODO: Remove <app-agenda-generator></app-agenda-generator> -->
      <app-type-exclusive-agenda-generator></app-type-exclusive-agenda-generator>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <app-day-plan-calendar></app-day-plan-calendar>
  </div>
</div>
