<form #dayPlanGeneratorForm="ngForm">
  <div class="mb-3">
    <label for="label" class="form-label">Name</label>
    <input
      type="text"
      id="label"
      class="form-control"
      required
      [(ngModel)]="model.agendaInput.label"
      name="label"
    />
  </div>
  <div class="mb-3">
    <div class="form-input">
      <label class="form-label">Agenda Type:</label>
    </div>
    <div class="form-check form-check-inline" *ngFor="let aType of agendaTypes">
      <input
        class="form-check-input"
        type="radio"
        name="agenda-type"
        [value]="aType"
        [(ngModel)]="model.agendaInput.agendaType"
        id="{{ aType }}-agenda"
      />
      <label class="form-check-label" for="{{ aType }}-agenda"
        >{{ aType }} Agenda</label
      >
    </div>
  </div>
  <div class="form-check">
    <input
      type="checkbox"
      id="morning-pages"
      class="form-check-input"
      required
      [(ngModel)]="model.agendaInput.morningPages"
      name="morning-pages"
    />
    <label for="morning-pages" class="form-check-label">Morning Pages</label>
  </div>
  <div class="form-check">
    <input
      type="checkbox"
      id="running"
      class="form-check-input"
      required
      [(ngModel)]="model.agendaInput.running"
      name="running"
    />
    <label for="running" class="form-label">Running</label>
  </div>
  <div *ngIf="model.isTrainingAgenda" class="mb-3">
    <label for="at-gym" class="form-label">At the gym:</label>
    <select
      class="form-select"
      required
      [(ngModel)]="model.trainingTimeId"
      name="at-office"
    >
      <option
        *ngFor="let trainingTimeKey of Object.keys(model.trainingTimes)"
        [value]="trainingTimeKey"
      >
        {{ model.trainingTimes[trainingTimeKey]["hours"] }}:{{
          ("00" + model.trainingTimes[trainingTimeKey]["minutes"]).slice(-2)
        }}
      </option>
    </select>
  </div>
  <div *ngIf="model.isTomeksAgenda" class="mb-3">
    <label for="at-tomeks" class="form-label">At Tomek's:</label>
    <select
      class="form-select"
      required
      [(ngModel)]="model.tomeksTimeId"
      name="at-office"
    >
      <option
        *ngFor="let tomeksTimeKey of Object.keys(model.tomeksTimes)"
        [value]="tomeksTimeKey"
      >
        {{ model.tomeksTimes[tomeksTimeKey]["hours"] }}:{{
          ("00" + model.tomeksTimes[tomeksTimeKey]["minutes"]).slice(-2)
        }}
      </option>
    </select>
  </div>
  <div class="mb-3">
    <label for="at-office" class="form-label">At office:</label>
    <select
      class="form-select"
      required
      [(ngModel)]="model.atOfficeId"
      name="at-office"
    >
      <option
        *ngFor="let atOfficeTimeKey of Object.keys(model.atOfficeTimes)"
        [value]="atOfficeTimeKey"
      >
        {{ model.atOfficeTimes[atOfficeTimeKey]["hours"] }}:{{
          ("00" + model.atOfficeTimes[atOfficeTimeKey]["minutes"]).slice(-2)
        }}
      </option>
    </select>
  </div>
  <div class="form-submit mb-3">
    <input
      type="button"
      id="submit"
      class="btn btn-primary"
      value="Submit"
      (click)="onSubmit()"
    />
  </div>
</form>
